<h1><%= @amusement_park.name %></h1>
<p>Admissions: <%= @amusement_park.admission_price %></p>

<p>Rides:</p>
  <% @amusement_park.rides.order("name ASC").each do |ride| %>
  <ol>
    <li><%= ride.name %></li>
  </ol>
<% end %>

<p>Average Thrill Rating of Rides: <%= @amusement_park.rides.average_thrill_rating %>/10</p>
